<%-include('.. /cabecalho.ejs')%>
    <h1>Editar Categorias</h1>
    <div style="margin-bottom: 24px;">
        <a href="/categorias/lst" class="btn">Listar</a>
    </div>
    <form method="post">
        <label>ID:</label>
        <input type="text" name="id" value="<%= Categorias.id %>" disabled><br>
        <label>Digite o novo nome:</label>
        <input type="text" name="nome" value="<%= Categorias.nome %>"><br>
        <button type="submit" class="btn submit">Submeter edição</button>
    </form>

    <%-include('.. /rodape.ejs')%>